<div class="page-header">

    <h1 id = "profileH1"><img class="profile-pic" src="<%= user.picture %>" />   <%= user.name %></h1>


</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin: 50px auto">
        <div class="well">
        </div>
    </div>
</div>
    <% project.forEach((p) => { %>
        <% if(p.user.toString() === currentUser._id.toString()) { %>
        <div class="card" style="width: 30%;">
                <img class="card-img-top" src= <%= p.imageUrl %> alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= p.name %></h5>
                    <p class="card-text"><%=  p.description.substring(35,0) %><% if(p.description.length > 35){ %>...<% } %></p>
                    <a href="/projects/<%= p._id%>" class="btn btn-primary card-button">View Project</a>
                </div>
            </div>
    <% } %>
    <% }) %>