<h1>Edit Project</h1>

<form method="POST" action="/projects/<%= project._id %>?_method=PATCH">
    <input value="<%= project.name %>" name="name" type="text" placeholder="Name of Project" />
    <input value="<%= project.url %>" name="url" type="text" placeholder="Link to Project" />
    <input value="<%= project.description %>" name="description" type="text" placeholder="Description" />
    <input value="<%= project.imageUrl %>" name="imageUrl" type="text" placeholder="Image URL" />
   
    <button>Submit Project Revisions</button>
   
</form>