<h1>Edit </h1>

<form method="POST" action="/projects/<%= project._id %>?_method=PATCH">
    <input value="<%= project.name %>" name="name" type="text" placeholder="Name of Project" />
    <input value="<%= project.githubUrl %>" name="githubUrl" type="text" placeholder="Link to GitHub Project" />
    <input value="<%= project.description %>" name="description" type="text" placeholder="Description" />
    <input value="<%= project.imageUrl %>" name="imageUrl" type="text" placeholder="Image URL" />
    <input value="<%= project.projectUrl %>" name="projectUrl" type="text" placeholder="Link to GitHub Project" />
    <div class="form-group">
        <label for="exampleFormControlSelect1"> Current Project? </label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option><%= project.currentProject %></option>
          <option><%= !project.currentProject %></option>
        </select>
    <button>Edit Project</button>
   
    </form>