<h3>Project Name: <%= project.name %></h3>

<div>Project Description: <%= project.description %> </div>
<img class="project-image" src="<%= project.imageUrl %>"/>

<div><a href="<%= project.githubUrl %>">Find on Github</a></div>

<% if(currentUser && project.user.id.toString() == currentUser.id.toString()){ %>
<button type="button" class="btn btn-warning"> <a href='/projects/<%= project._id %>/edit'>Update Project</a></button>
<div class = 'deleteBtn'>
<form method="POST"  action="/projects/<%= project._id %>?_method=DELETE">
    <button onclick="return confirm('Are you sure you want to delete this project?')" class="btn btn-danger">Delete</button>
</form>
</div>
<% } %>
<form method="post" action="/projects/<%=project.id %>/comments">
    <label for="CommentLabel"> Comment: </label>
    <input name ="body" type="text" class="form-control" />
    <button class="btn btn-warning">Submit Comment</button> 
</form>
<ul class="comment-ul">
    <% project.comments.forEach((c) => { %>
        <li class="comment">"<%= c.body %>" by <%= c.user %>
        <form method="POST" action="/projects/<%= project._id %>/comments/<%= c._id%>?_method=DELETE">
            <button onclick="return confirm('Are you sure you want to delete this comment?')" class="btn btn-danger" >Delete</button>
        </form></li>
            <% }) %>
</ul>